.page {
    background-color: black;
    padding: 0px 100px;
}

.Title__Step {
    font-size: 150px;
    font-family: fantasy;
    color: white;
    text-align: center;
    padding: 100px; 0px;
    padding-bottom: 160px;
}

.Title__Question {
    font-size: 40px;
    font-family: bookman;
    color: white;
    text-align: center;
    padding: 10px 100px;
    line-height: 60px;
    letter-spacing: 2.5px;
}

.Answer {
    font-family: copperplate, Papyrus, fantasy;
    font-size: 18px;
    color: white;
    line-height: 18px;
    text-align: center;
    padding: 30px 150px;
}
